[submodule "ansible-inventory"]
	path = ansible-inventory
	url = git@github.com:damex/ansible-inventory.git
[submodule "ansible-configurations"]
	path = ansible-configurations
	url = git@github.com:damex/ansible-configurations.git
